{
  "openapi": "3.1.0",
  "info": {
    "title": "Haneoka Public API",
    "version": "2026-09-30",
    "description": "Public HTTP contracts served by haneoka.org. Manifest-driven catalog DTOs and provider projections retain their published fields; stable envelopes and transport behavior are described explicitly."
  },
  "servers": [
    {
      "url": "https://haneoka.org",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Resource servers",
      "description": "Release discovery, immutable release selection, catalog documents, and release-backed files."
    },
    {
      "name": "Sonolus",
      "description": "Public Sonolus server documents, levels, playlists, and data."
    },
    {
      "name": "Community",
      "description": "Public community reads and authenticated account interactions."
    },
    {
      "name": "Authentication",
      "description": "Account availability, registration, and Better Auth sessions."
    },
    {
      "name": "Provider APIs",
      "description": "Garupa and Bestdori provider projections."
    }
  ],
  "security": [],
  "paths": {
    "/api/v1/releases": {
      "get": {
        "summary": "List active resource servers",
        "operationId": "listReleases",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseRegistry"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "List active resource servers",
        "operationId": "listReleasesHead",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseRegistry"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account/config": {
      "get": {
        "summary": "Read authentication availability",
        "operationId": "getAccountConfig",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthConfig"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read authentication availability",
        "operationId": "getAccountConfigHead",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthConfig"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account/register": {
      "post": {
        "summary": "Request email registration",
        "operationId": "registerByEmail",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "X-Captcha-Response",
            "in": "header",
            "required": false,
            "description": "Turnstile token when enabled by account config.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "JSON request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted without revealing account existence.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "accepted"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/preferences": {
      "get": {
        "summary": "Read signed-in preferences",
        "operationId": "getPreferences",
        "tags": [
          "Community"
        ],
        "security": [
          {
            "cookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreferencesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Write signed-in preferences",
        "operationId": "putPreferences",
        "tags": [
          "Community"
        ],
        "requestBody": {
          "required": true,
          "description": "JSON request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreferencesPatch"
              }
            }
          }
        },
        "security": [
          {
            "cookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreferencesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read signed-in preferences",
        "operationId": "getPreferencesHead",
        "tags": [
          "Community"
        ],
        "security": [
          {
            "cookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreferencesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account/profile": {
      "get": {
        "summary": "Read the signed-in profile",
        "operationId": "getProfile",
        "tags": [
          "Community"
        ],
        "security": [
          {
            "cookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update profile fields",
        "operationId": "patchProfile",
        "tags": [
          "Community"
        ],
        "requestBody": {
          "required": true,
          "description": "JSON request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfilePatch"
              }
            }
          }
        },
        "security": [
          {
            "cookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "202": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete the signed-in account",
        "operationId": "deleteProfile",
        "tags": [
          "Community"
        ],
        "requestBody": {
          "required": true,
          "description": "JSON request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteProfileRequest"
              }
            }
          }
        },
        "security": [
          {
            "cookieSession": []
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read the signed-in profile",
        "operationId": "getProfileHead",
        "tags": [
          "Community"
        ],
        "security": [
          {
            "cookieSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account/avatar": {
      "put": {
        "summary": "Set a moderated avatar",
        "operationId": "putAvatar",
        "tags": [
          "Community"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "image/jpeg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/png": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/webp": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "security": [
          {
            "cookieSession": []
          }
        ],
        "responses": {
          "202": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingAvatarResponse"
                }
              }
            }
          },
          "401": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete the signed-in avatar",
        "operationId": "deleteAvatar",
        "tags": [
          "Community"
        ],
        "security": [
          {
            "cookieSession": []
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account/avatar/{userId}": {
      "parameters": [
        {
          "name": "userId",
          "in": "path",
          "required": true,
          "description": "Opaque account identifier from an avatar URL.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Read a ready avatar",
        "operationId": "getAvatar",
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Avatar bytes.",
            "headers": {
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "304": {
            "description": "Avatar has not changed.",
            "headers": {
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read a ready avatar",
        "operationId": "getAvatarHead",
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Avatar bytes.",
            "headers": {
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "304": {
            "description": "Avatar has not changed.",
            "headers": {
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/servers/{server}/release": {
      "parameters": [
        {
          "name": "server",
          "in": "path",
          "required": true,
          "description": "Active resource-server slug from GET /api/v1/releases.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "release",
          "in": "query",
          "required": false,
          "description": "Immutable release ID from a prior response.",
          "schema": {
            "type": "string",
            "pattern": "^r-[a-f0-9]{20}$"
          },
          "style": "form",
          "explode": true
        },
        {
          "name": "projection",
          "in": "query",
          "required": false,
          "description": "Use identity for the compact release descriptor.",
          "schema": {
            "type": "string",
            "enum": [
              "identity"
            ]
          },
          "style": "form",
          "explode": true
        }
      ],
      "get": {
        "summary": "Read the current or pinned release manifest",
        "operationId": "getRelease",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseResponse"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read the current or pinned release manifest",
        "operationId": "getReleaseHead",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseResponse"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/servers/{server}/ui-marks": {
      "parameters": [
        {
          "name": "server",
          "in": "path",
          "required": true,
          "description": "Active resource-server slug from GET /api/v1/releases.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "release",
          "in": "query",
          "required": false,
          "description": "Immutable release ID from a prior response.",
          "schema": {
            "type": "string",
            "pattern": "^r-[a-f0-9]{20}$"
          },
          "style": "form",
          "explode": true
        }
      ],
      "get": {
        "summary": "Read the release UI mark mapping",
        "operationId": "getUiMarks",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "UI mark name to release asset path.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read the release UI mark mapping",
        "operationId": "getUiMarksHead",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "UI mark name to release asset path.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/servers/{server}/sources/tree": {
      "parameters": [
        {
          "name": "server",
          "in": "path",
          "required": true,
          "description": "Active resource-server slug from GET /api/v1/releases.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "release",
          "in": "query",
          "required": false,
          "description": "Immutable release ID from a prior response.",
          "schema": {
            "type": "string",
            "pattern": "^r-[a-f0-9]{20}$"
          },
          "style": "form",
          "explode": true
        }
      ],
      "get": {
        "summary": "Read the release source tree",
        "operationId": "getSourceTree",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceTreeDocument"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read the release source tree",
        "operationId": "getSourceTreeHead",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceTreeDocument"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/servers/{server}/sources/{sourcePath}": {
      "parameters": [
        {
          "name": "server",
          "in": "path",
          "required": true,
          "description": "Active resource-server slug from GET /api/v1/releases.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "sourcePath",
          "in": "path",
          "required": true,
          "description": "Encoded path beginning with Assets/ or Packages/; preserve path separators.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "release",
          "in": "query",
          "required": false,
          "description": "Immutable release ID from a prior response.",
          "schema": {
            "type": "string",
            "pattern": "^r-[a-f0-9]{20}$"
          },
          "style": "form",
          "explode": true
        }
      ],
      "get": {
        "summary": "Read one published source DTO",
        "operationId": "getsource-record",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceRecord"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read one published source DTO",
        "operationId": "getsource-recordHead",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceRecord"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/servers/{server}/catalog": {
      "parameters": [
        {
          "name": "server",
          "in": "path",
          "required": true,
          "description": "Active resource-server slug from GET /api/v1/releases.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "release",
          "in": "query",
          "required": false,
          "description": "Immutable release ID from a prior response.",
          "schema": {
            "type": "string",
            "pattern": "^r-[a-f0-9]{20}$"
          },
          "style": "form",
          "explode": true
        }
      ],
      "get": {
        "summary": "Read the catalog storage manifest",
        "operationId": "getCatalogManifest",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogManifest"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read the catalog storage manifest",
        "operationId": "getCatalogManifestHead",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogManifest"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/servers/{server}/catalog/summary": {
      "parameters": [
        {
          "name": "server",
          "in": "path",
          "required": true,
          "description": "Active resource-server slug from GET /api/v1/releases.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "release",
          "in": "query",
          "required": false,
          "description": "Immutable release ID from a prior response.",
          "schema": {
            "type": "string",
            "pattern": "^r-[a-f0-9]{20}$"
          },
          "style": "form",
          "explode": true
        }
      ],
      "get": {
        "summary": "Read the catalog summary",
        "operationId": "getCatalogSummary",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSummary"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read the catalog summary",
        "operationId": "getCatalogSummaryHead",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSummary"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/servers/{server}/{resource}": {
      "parameters": [
        {
          "name": "server",
          "in": "path",
          "required": true,
          "description": "Active resource-server slug from GET /api/v1/releases.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resource",
          "in": "path",
          "required": true,
          "description": "Resource name declared in the catalog manifest.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "release",
          "in": "query",
          "required": false,
          "description": "Immutable release ID from a prior response.",
          "schema": {
            "type": "string",
            "pattern": "^r-[a-f0-9]{20}$"
          },
          "style": "form",
          "explode": true
        },
        {
          "name": "id",
          "in": "query",
          "required": false,
          "description": "Repeat for an entity batch.",
          "schema": {
            "type": "string",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._:~-]{0,255}$"
          },
          "style": "form",
          "explode": true
        }
      ],
      "get": {
        "summary": "Read a resource index or batch",
        "operationId": "getcatalog-resource",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogResourceIndexOrBatch"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read a resource index or batch",
        "operationId": "getcatalog-resourceHead",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogResourceIndexOrBatch"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/servers/{server}/{resource}/{id}": {
      "parameters": [
        {
          "name": "server",
          "in": "path",
          "required": true,
          "description": "Active resource-server slug from GET /api/v1/releases.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resource",
          "in": "path",
          "required": true,
          "description": "Resource name declared in the catalog manifest.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Entity key returned by the resource index.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "release",
          "in": "query",
          "required": false,
          "description": "Immutable release ID from a prior response.",
          "schema": {
            "type": "string",
            "pattern": "^r-[a-f0-9]{20}$"
          },
          "style": "form",
          "explode": true
        }
      ],
      "get": {
        "summary": "Read one catalog entity",
        "operationId": "getcatalog-entity",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntity"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read one catalog entity",
        "operationId": "getcatalog-entityHead",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntity"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/servers/{server}/{resource}/views/{view}": {
      "parameters": [
        {
          "name": "server",
          "in": "path",
          "required": true,
          "description": "Active resource-server slug from GET /api/v1/releases.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resource",
          "in": "path",
          "required": true,
          "description": "Resource name declared in the catalog manifest.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "view",
          "in": "path",
          "required": true,
          "description": "View name declared in the resource manifest.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "release",
          "in": "query",
          "required": false,
          "description": "Immutable release ID from a prior response.",
          "schema": {
            "type": "string",
            "pattern": "^r-[a-f0-9]{20}$"
          },
          "style": "form",
          "explode": true
        },
        {
          "name": "id",
          "in": "query",
          "required": false,
          "description": "Repeat for a view entity batch.",
          "schema": {
            "type": "string",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._:~-]{0,255}$"
          },
          "style": "form",
          "explode": true
        }
      ],
      "get": {
        "summary": "Read a view index or batch",
        "operationId": "getcatalog-view",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogViewDocumentOrBatch"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read a view index or batch",
        "operationId": "getcatalog-viewHead",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogViewDocumentOrBatch"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/servers/{server}/{resource}/views/{view}/{id}": {
      "parameters": [
        {
          "name": "server",
          "in": "path",
          "required": true,
          "description": "Active resource-server slug from GET /api/v1/releases.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resource",
          "in": "path",
          "required": true,
          "description": "Resource name declared in the catalog manifest.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "view",
          "in": "path",
          "required": true,
          "description": "View name declared in the resource manifest.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "View entity key returned by the view index.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "release",
          "in": "query",
          "required": false,
          "description": "Immutable release ID from a prior response.",
          "schema": {
            "type": "string",
            "pattern": "^r-[a-f0-9]{20}$"
          },
          "style": "form",
          "explode": true
        }
      ],
      "get": {
        "summary": "Read one view entity",
        "operationId": "getcatalog-view-entity",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntity"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read one view entity",
        "operationId": "getcatalog-view-entityHead",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntity"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/servers/{server}/{resource}/relations/{relation}/{key}": {
      "parameters": [
        {
          "name": "server",
          "in": "path",
          "required": true,
          "description": "Active resource-server slug from GET /api/v1/releases.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resource",
          "in": "path",
          "required": true,
          "description": "Resource name declared in the resource manifest.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "relation",
          "in": "path",
          "required": true,
          "description": "Relation name declared in the resource manifest.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "key",
          "in": "path",
          "required": true,
          "description": "Relation key returned by the relation index.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "release",
          "in": "query",
          "required": false,
          "description": "Immutable release ID from a prior response.",
          "schema": {
            "type": "string",
            "pattern": "^r-[a-f0-9]{20}$"
          },
          "style": "form",
          "explode": true
        }
      ],
      "get": {
        "summary": "Read one catalog relation",
        "operationId": "getcatalog-relation",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogRelationResponse"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read one catalog relation",
        "operationId": "getcatalog-relationHead",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogRelationResponse"
                }
              }
            },
            "headers": {
              "X-Haneoka-Release-Id": {
                "description": "Immutable release selected for this server-scoped response.",
                "schema": {
                  "type": "string",
                  "pattern": "^r-[a-f0-9]{20}$"
                }
              },
              "X-Haneoka-Source-Id": {
                "description": "Source snapshot associated with the selected release.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Structured API error",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlation identifier.",
                "schema": {
                  "$ref": "#/components/schemas/RequestIdHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{server}/{path}": {
      "parameters": [
        {
          "name": "server",
          "in": "path",
          "required": true,
          "description": "Active resource-server slug from GET /api/v1/releases.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "path",
          "in": "path",
          "required": true,
          "description": "Encoded release path from the release index.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Read a release assets object",
        "operationId": "getassets-media",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "Release object bytes.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Partial byte range.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Object not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "416": {
            "description": "The requested byte range is not satisfiable.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read a release assets object",
        "operationId": "getassets-mediaHead",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "Release object bytes.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Partial byte range.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Object not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "416": {
            "description": "The requested byte range is not satisfiable.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/runtime/{server}/{path}": {
      "parameters": [
        {
          "name": "server",
          "in": "path",
          "required": true,
          "description": "Active resource-server slug from GET /api/v1/releases.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "path",
          "in": "path",
          "required": true,
          "description": "Encoded release path from the release index.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Read a release runtime object",
        "operationId": "getruntime-media",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "Release object bytes.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Partial byte range.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Object not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "416": {
            "description": "The requested byte range is not satisfiable.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read a release runtime object",
        "operationId": "getruntime-mediaHead",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "Release object bytes.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Partial byte range.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Object not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "416": {
            "description": "The requested byte range is not satisfiable.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/objects/{server}/{path}": {
      "parameters": [
        {
          "name": "server",
          "in": "path",
          "required": true,
          "description": "Active resource-server slug from GET /api/v1/releases.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "path",
          "in": "path",
          "required": true,
          "description": "Encoded release path from the release index.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Read a release objects object",
        "operationId": "getobjects-media",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "Release object bytes.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Partial byte range.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Object not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "416": {
            "description": "The requested byte range is not satisfiable.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Read a release objects object",
        "operationId": "getobjects-mediaHead",
        "tags": [
          "Resource servers"
        ],
        "responses": {
          "200": {
            "description": "Release object bytes.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Partial byte range.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Object not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "416": {
            "description": "The requested byte range is not satisfiable.",
            "headers": {
              "Accept-Ranges": {
                "description": "The endpoint accepts single byte ranges.",
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "Content-Length": {
                "description": "Length of the returned representation or range.",
                "schema": {
                  "type": "integer",
                  "format": "int64",
                  "minimum": 0
                }
              },
              "Content-Range": {
                "description": "Returned range, or `bytes */size` on 416.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Representation validator.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/artifacts/{server}/{sourceId}/android/bundles/{filename}": {
      "parameters": [
        {
          "name": "server",
          "in": "path",
          "required": true,
          "description": "Active resource-server slug.",
          "schema": {
            "type": "string"
          }
[...]
